<!doctype html>
<html ng-app="lab12" lang="en">
<head>
  <title> To-Do List</title>
  <meta name+"viewport" content="width=device-width, inital-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="some-time-later.zip" rel="stylesheet" type="text/css">
</head>
<body ng-controller="lab12Ctrl">


<!-- <p ng-model="usersTask"> {{ tasks }} </p> -->

<!-- <h1>To Do List </h1> -->
<div class="list">
  <ul>
    <li ng-repeat="tasks in toDoList | filter: search"> {{ tasks }} </li>
  </ul>

  <input type="text" class="addTask" ng-model="tasks" placeholder="Add Task Here"> <button ng-click="addTo(tasks)"type="button">Add</button>
</br>
  <input type="text" class="searchIt" ng-model="search" placeholder="Filter List">
  <button ng-click="removeTask(task)" type="button">Remove</button>
</br>
</div>











<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="script.js"></script>
</body>
</html>
