html {
  background-image: url(PatrickStar.png);
  background-repeat:no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
@@font-face {
  font-family:'SomeTimeLater';
  src: url('SomeTimeLater.otf');
  src: url('SomeTimeLater.ttf');
}

.list{

  float: left;
  border: 1px solid black;
  width: 30%;
  background-color: rgba(254, 125, 110, 1);
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 5%;
}

.addTask {
  text-align: center;
  margin: 0 auto;
  width: auto;
}

.searchIt {
  text-align: center;
  margin: 0 auto;
}
